#copy env.sample to .env
#cp env.sample .env

# # Set up IBM Watsonx credentials
# API_KEY = ""
# PROJECT_ID = ""
# MODEL_ID = "ibm/granite-3-2b-instruct"
# MODEL_ID = "meta-llama/llama-3-3-70b-instruct"
# ENDPOINT_URL = ""
# SPACE_ID = ""